* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #080808;
  background-size: cover;
  color: #ffffff;
  line-height: 1.5;
  margin: 0;
}

button {
  text-transform: none;
  cursor: pointer;
}

section {
  padding: 30px 0;
}

input:-webkit-autofill {
  box-shadow: inset 0px 0px 0px 50px #080808 !important;
  /* Цвет фона */
  -webkit-text-fill-color: white !important;
  /* цвет текста */
  background-color: #080808 !important;
  /* цвет текста */
  color: white !important;
}

img {
  border-style: none;
}

button,
input {
  font-family: inherit;
  line-height: 1.15;
  font-size: 100%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1620px;
  margin: auto;
}

.hidden {
  display: none !important;
}

.button {
  background: linear-gradient(93.53deg, #ed3125 11.43%, #e8223a 80.79%);
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  display: block;
  padding: 15px;
  border: none;
}

.button:focus {
  outline: none;
}

.section__title {
  font-weight: bold;
  line-height: 1.4;
  font-size: 48px;
  margin: 0;
}

.input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  background-color: transparent;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: -1px;
  color: #ffffff;
  display: block;
  border: none;
  opacity: 0.8;
  width: 100%;
}

.input:focus {
  outline: none;
}

/* header */
.header {
  margin-bottom: 114px;
}

.header-wrapper {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  padding-top: 42px;
  display: flex;
}

.header-main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  display: flex;
}

.header__logo {
  margin-right: 95px;
  display: block;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list__item {
  margin-right: 50px;
}

.menu-list__link {
  color: #ffffff;
  font-size: 18px;
}

.phone {
  color: #ffffff;
  font-size: 24px;
}

.humburger-menu {
  background-image: url("./../icons/burgerMenu.svg");
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-color: transparent;
  background-size: contain;
  display: none;
  height: 30px;
  border: none;
  width: 30px;
}

.humburger-menu-active {
  background-image: url("./../icons/close.svg");
}

/* main */
.main-wrapper {
  background-image: url("./../images/cars/main.png");
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: 90% 35%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  background-size: 900px;
  padding-bottom: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  display: flex;
}

.main__title {
  text-align: center;
  font-weight: bold;
  font-size: 120px;
  line-height: 1;
  margin: 0;
}

.main__descr {
  margin: 0 0 84px 0;
  max-width: 480px;
  font-size: 28px;
  opacity: 0.4;
}

.main__button {
  margin-bottom: 180px;
  max-width: 220px;
  display: block;
}

.main__scroll {
  background-image: url("./../icons/scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  height: 60px;
  width: 40px;
}

.main__scroll:focus {
  outline: none;
}

.play {
  background-image: url("./../icons/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
  color: #e8223a;
  display: block;
  border: none;
}

.play:focus {
  outline: none;
}

.play__icon {
  margin-right: 13px;
}

/* design */
.design-wrapper {
  padding-bottom: 200px;
}

.design-block {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design__title {
  margin-bottom: 49px;
}

.design-list {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-bottom: 33px;
  display: flex;
}

.design-list__item {
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 7px;
  font-size: 24px;
  color: #ccc;
}

.design-list__item + .design-list__item {
  margin-left: 50px;
}

.design-list__item_active {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.design__descr {
  margin: 0 0 28px 0;
  line-height: 1.6;
  font-size: 16px;
}

.design-images {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design__img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  width: 23%;
}

.more {
  background-color: transparent;
  line-height: 1.6;
  color: #e8223a;
  font-size: 16px;
  padding: 5px;
  border: none;
}

/* feature */
.feature-wrapper {
  background-image: url("./../images/cars/feature.png");
  justify-content: space-between;
  background-repeat: no-repeat;
  -webkit-box-pack: justify;
  background-position: left;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  background-size: 50%;
  padding-left: 50%;
  min-height: 550px;
  display: flex;
}

.feature__img {
  -o-object-fit: contain;
  object-fit: contain;
  min-width: 900px;
  width: 900px;
}

.feature__title {
  margin-bottom: 74px;
}

.feature-list {
  max-width: 571px;
}

.feature__link {
  background-image: url("./../icons/arrowUp.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 30px;
  color: #ffffff;
  outline: none;
  border: none;
  width: 100%;
}

.feature__link_active {
  background-image: url("./../icons/arrowDown.svg");
  margin-bottom: 14px;
}

.feature__item {
  margin-bottom: 20px;
}

.feature-item-wrap {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  display: flex;
}

.feature-item__title {
  line-height: 1.6;
  font-size: 24px;
}

.feature-sub__item {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 14px;
  display: flex;
  opacity: 0.5;
}

/* contacts */
.contacts-wrapper {
  background: url("./../images/cars/contacts.png") no-repeat right;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  display: flex;
}

.contacts__descr {
  margin: 0 0 30px 0;
  max-width: 411px;
  line-height: 1.6;
  font-size: 16px;
  opacity: 0.5;
}

.form {
  background-color: #080808;
  max-width: 492px;
}

.form__button {
  margin-top: 40px;
  min-width: 220px;
}

/* modal */
.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.modal-wrapper {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #080808;
  border: 1px solid #ffffff;
  padding: 71px 57px;
  max-width: 592px;
  max-height: 100%;
  position: fixed;
  height: 545px;
  width: 100%;
  z-index: 9;
  left: 50%;
  top: 50%;
}

.modal__title {
  margin-bottom: 23px;
}

.modal__descr {
  margin: 0 0 30px 0;
}

.modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-top: 30px;
  display: flex;
}

.modal__button {
  margin-right: 48px;
}

.modal__close {
  background-image: url("./../icons/close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  display: block;
  height: 30px;
  border: none;
  width: 30px;
  right: 15px;
  top: 15px;
}

.modal__close:focus {
  outline: none;
}

.close {
  background-color: transparent;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  font-size: 16px;
  border: none;
}

.close:focus {
  outline: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@media (max-width: 1720px) {
  .container {
    max-width: 1400px;
  }

  .main-wrapper {
    background-size: 65%;
  }

  .design-block__img {
    min-width: 750px;
    width: 750px;
  }

  .contacts-wrapper {
    background-size: 67%;
  }
}

@media (max-width: 1470px) {
  .container {
    max-width: 1140px;
  }

  .header {
    margin-bottom: 60px;
  }

  .main-wrapper {
    background-position: 90% 25%;
    background-size: 600px;
    padding-bottom: 100px;
  }

  .main__title {
    font-size: 90px;
  }

  .main__descr {
    margin-bottom: 60px;
    font-size: 26px;
  }

  .main__img {
    width: 800px;
    right: -10%;
  }

  .main__button {
    margin-bottom: 140px;
  }

  .design-block {
    margin-bottom: 20px;
  }

  .design-block__img {
    max-width: 600px;
    min-width: 600px;
    width: 100%;
  }

  .feature-wrapper {
    padding-bottom: 50px;
  }

  .feature__title {
    margin-bottom: 35px;
  }

  .contacts-wrapper {
    background-size: 59%;
  }
}

@media (max-width: 1400px) {
  .contacts-wrapper {
    padding-bottom: 80px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .header {
    margin-bottom: 0;
  }

  .main-wrapper {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-direction: reverse;
    background-position: 50% 10%;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    background-size: contain;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 640px;
  }

  .main__scroll {
    display: none;
  }

  .main__button {
    margin-bottom: 0;
  }

  .main__title {
    line-height: 1.4;
  }

  .main__descr {
    text-align: center;
  }

  .main a {
    margin: 0 auto;
  }

  .design-block {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .design-text {
    max-width: 610px;
  }

  .design-images {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .design__img {
    margin-bottom: 20px;
    width: 48%;
  }

  .feature-wrapper {
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding-bottom: 0;
  }

  .feature__img {
    display: none;
  }

  .contacts-wrapper {
    -ms-flex-direction: column-reverse;
    background-position: center top;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    background-size: 100%;
  }

  .contacts-form {
    padding-top: 510px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .section__title {
    font-size: 42px;
  }

  .header__logo {
    margin-right: 35px;
  }

  .menu-list__item {
    margin-right: 20px;
  }

  .menu-list__link {
    font-size: 16px;
  }

  .phone {
    font-size: 20px;
  }

  .main-wrapper {
    padding-top: 495px;
  }

  .design-wrapper {
    padding-bottom: 100px;
  }

  .design__title {
    margin-bottom: 30px;
  }

  .design-list__item {
    font-size: 22px;
  }

  .contacts-form {
    padding-top: 395px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .header-wrapper {
    background-position: 50% 5%;
    background-size: contain;
    position: relative;
    padding-top: 25px;
  }

  .header__logo {
    margin-right: 0;
  }

  .menu {
    -webkit-transition: top 0.5s;
    background-color: #000;
    padding: 50px 20px 20px;
    transition: top 0.5s;
    border-radius: 15px;
    position: absolute;
    z-index: 666;
    top: -300px;
    right: 30px;
  }

  .menu-list {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-list__item {
    margin-bottom: 22px;
  }

  .menu-active {
    top: 0;
  }

  .humburger-menu {
    display: block;
  }

  .main__title {
    font-size: 110px;
  }

  .main__descr {
    margin-bottom: 50px;
    font-size: 24px;
  }

  .main-wrapper {
    padding-top: 370px;
  }

  .feature-wrapper {
    background-position-y: 120px;
    background-position-x: 0;
    background-size: contain;
    padding-left: 0;
  }

  .feature__title {
    margin-bottom: 400px;
  }

  .contacts-form {
    padding-top: 295px;
  }

  .modal-wrapper {
    padding: 30px 40px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }

  .header {
    margin-bottom: 35px;
  }

  .main__title {
    font-size: 78px;
  }

  .main__descr {
    font-size: 20px;
  }

  .feature__title {
    margin-bottom: 300px;
  }
}

@media (max-width: 480px) {
  .section__title {
    font-size: 36px;
  }

  .main-wrapper {
    padding-top: 305px;
  }

  .design-list {
    margin-bottom: 20px;
  }

  .design__img {
    width: 100%;
  }

  .design__descr {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .more {
    font-size: 14px;
  }

  .contacts-form {
    padding-top: 230px;
  }
}

@media (max-width: 400px) {
  .section__title {
    font-size: 29px;
  }

  .main-wrapper {
    padding-top: 250px;
  }

  .design__title {
    margin-bottom: 20px;
  }

  .design-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .design-list__item {
    font-size: 20px;
  }

  .design-list__item + .design-list__item {
    margin-left: 20px;
    font-size: 18px;
  }

  .design__descr {
    font-size: 12px;
  }

  .contacts-form {
    padding-top: 190px;
  }
}
